<div>
    <h3 style="color: #00000070; font-weight: 500;">Order Details</h3>
        <div class="flex flex-wrap">
            <div class="flex space-x-3 bg-primary rounded-md px-5 py-3 w-full sm:w-1/2" style="background-color: rgb(222, 222, 222); ">
                <div class="w-16 h-16 rounded-full overflow-hidden shadow-md">
                    <img [src]="order.user.avatar ? order.user.avatar : 'assets/images/No_image_available.png'" alt="avatar" class="w-full h-full object-cover">
                </div>
                <div class="" style="color: #00000070;">
                    <h5>{{ order.user.fullName}}</h5>
                    <p class="leading-normal ">
                        <span class="font-medium">Email</span>: {{ order.user.email }}</p>
                </div>
            </div>
            <div class="w-full sm:w-1/2 sm:pl-5 mt-5 mmd:t-0">
                <p class="mt-1">
                    <strong>Created:</strong>: {{ order.createdAt | date }}</p>
            </div>
        </div>
</div>