<div class="footer">
    <!-- <div class="footer-widget py-20">
        <div class="container">
            <p class="text-white">With Lieblings, we would like to offer owner-managed, small to medium-sized companies from the manufacturing industry the most modern option of consulting services. The pandemic has proven that software, digital and consulting topics also work remotely, i.e. from the home office. We specialize exclusively in working from home. We will pass on the associated cost savings to you. The resulting flexibility is an enormous advantage, especially for owner-managed companies. Every microservice that you can order at a fixed price on lieblings.com is designed so that it can be processed and delivered digitally from the home office. If you are ever dissatisfied with a result, we will grant you a 50% credit for future orders up to 30 days after delivery. Our mission is to develop digital microservices and make them available anytime - anywhere - that will help you to create a digital and attractive favorite from your life's work.</p>
        </div>
    </div> -->
    <div class="footer-bottom">
        <div class="container">
            <div class="lg:flex flex-wrap items-center py-10 border-t border-gray-700">
                <nav class="_nav flex flex-wrap items-center lg:ml-auto lg:order-last mb-5 lg:mb-0">
                    <a 
                        href="https://www.facebook.com/omar.fotostudio"
                        target="_blank"
                        rel="noreferrer" 
                        class="_nav__link text-white hover:text-accent duration-500"
                    >
                        <span class="material-icons">facebook</span>
                    </a>
                    <a 
                        href="https://www.tiktok.com/@fotostudioelsueno"
                        target="_blank"
                        rel="noreferrer" 
                        class="_nav__link text-white hover:text-accent duration-500"
                    >
                        <span class="material-icons">tiktok</span>
                    </a>
                </nav>
                <nav class="_nav flex flex-wrap items-center">
                    <a routeLink="/contact" class="_nav__link text-white uppercase hover:text-accent duration-500 font-medium">Contact</a>
                    <a href="javascript:void(0)" class="_nav__link text-white uppercase hover:text-accent duration-500 font-medium">Terms & Conditions</a>
                    <a href="javascript:void(0)" class="_nav__link text-white uppercase hover:text-accent duration-500 font-medium">Data Protection</a>
                    <!-- <a href="javascript:void(0)" class="_nav__link text-white uppercase hover:text-accent duration-500 font-medium"><div class="flex items-center"><mat-icon class="mr-2">public</mat-icon> Europe</div></a>
                    <a href="javascript:void(0)" class="_nav__link text-white uppercase hover:text-accent duration-500 font-medium"><div class="flex items-center"><mat-icon class="mr-2">euro</mat-icon> EUR</div></a> -->
                </nav>
                <nav class="_nav flex flex-wrap items-center lg:ml-auto  mb-5 lg:mb-0">
                    <p style="color: #FFFFFF;">© {{year}} Foto Studio El Sueno </p>
                </nav>
                
            </div>
        </div>
    </div>
</div>
