<div class="grid grid-cols-12 gap-4 lg:gap-8">
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 220px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(0, 0, 255);" class="text-accent m-5">select_all</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">{{orderCounters.total}}</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/order'">Total orders</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(216, 187, 2);" class="text-accent m-5">sync</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">{{orderCounters.onGoing}}</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link"  [routerLink]="'/dashboard/order'">On going orders</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(3, 215, 24);" class="text-accent m-5">task_alt</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">{{orderCounters.completed}}</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/order'">Completed Orders</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 220px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(202, 2, 2);" class="text-accent m-5">warning</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">{{orderCounters.noPaid}}</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/order'">No Paid orders</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(4, 4, 186);" class="text-accent m-5">inventory_outlined</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">{{productCounters.inStock}}</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link"  [routerLink]="'/dashboard/product'">Total Products</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(8, 191, 2);" class="text-accent m-5">grid_on</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">{{productCounters.inStock}}</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/product'">Products In stock</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<!-- <mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(221, 3, 3);" class="text-accent m-5">grid_off</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">10</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/saved-items'">Products Out of stock</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(216, 187, 2);" class="text-accent m-5">error_outline</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">10</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/saved-items'">Low existence</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card> -->
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: #00000050;" class="text-accent m-5">people</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">{{usersCounter}}</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/user'">Users</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(8, 191, 2);" class="text-accent m-5">airport_shuttle</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">{{orderCounters.shipping}}</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/order'">Shipping</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	<!-- <mat-card class="col-span-6 md:col-span-4 border rounded p-4" style="max-height: 200px;">
		<mat-card-content >
			<div class="grid grid-cols-12 gap-4 lg:gap-8">
				<div class="col-span-6 md:col-span-6 p-10" >
					<mat-icon style="transform: scale(4); color: rgb(255, 0, 212);" class="text-accent m-5">sync</mat-icon>
				</div>
				<div class="col-span-6 md:col-span-6" >
					<div class="mt-10" >
						<h1 class="card-counter pb-10">10</h1></div>
					<div class="text-center mt-18" >
						<a class="card-link" [routerLink]="'/dashboard/saved-items'">Refresh</a>
					</div>
				</div>
			</div>
		</mat-card-content>
	</mat-card> -->

</div>
<!-- <div class="mt-8">
  <h5 class="mb-1 font-normal">Latest Orders</h5>
	<div class="table-inside">
		<table class="order-table table-auto ltMd:responsive">
			<thead>
				<tr class="border text-left">
					<th>
						<span class="text-gray-800">Id</span>
					</th>
					<th>
						<span class="text-gray-800">Name</span>
					</th>
					<th>
						<span class="text-gray-800">Price</span>
					</th>
	
					<th>
						<span class="text-gray-800">Created</span>
					</th>
	
					<th>
						<span class="text-gray-800">Status</span>
					</th>
					<th class="text-right">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let order of orders" class="border">
					<td>
						<a class="text-primary" href="/">#{{order?.id}}</a>
					</td>
					<td>
						{{order?.orderBy | titlecase }}
					</td>
					<td>
						<span>${{order?.price}}</span>
					</td>
					<td>
						<span>{{order?.created}}</span>
					</td>
					<td>
						<div [ngClass]="{
							'bg-blue-500 text-blue-500': order?.status === 'complated',
							'bg-red-500 text-red-500': order?.status === 'rejected',
							'bg-yellow-500 text-yellow-900': order?.status === 'pending',
							'bg-primary text-primary': order?.status === 'initialized'
							}" 
							class="text-[12px] bg-opacity-20 rounded-full px-3 inline-block font-bold py-[3px]"
						>
							{{ order?.status | titlecase }}
						</div>
					</td>
					<td class="text-right">
						<button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xposition="before">
							<button mat-menu-item>
								<mat-icon>dialpad</mat-icon>
								<span>Details</span>
							</button>
							<button mat-menu-item>
								<mat-icon>delete</mat-icon>
								<span>Delete</span>
							</button>
						</mat-menu>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div> -->
