<div>
	<!-- User Start -->
	<div class="flex flex-wrap">
		<div class="flex space-x-3 bg-primary rounded-md px-5 py-3 w-full sm:w-1/2" style="color: #00000070 !important; ">
			<div class="w-16 h-16 rounded-full overflow-hidden shadow-md">
				<img [src]="user.avatar ? user.avatar : 'assets/images/No_image_available.png'" alt="profile" class="w-full h-full object-cover">
			</div>
			<div>
				<h5>{{ user.fullName}}</h5>
				<p class="leading-normal">
					<span class="font-medium">Email</span>: {{ user.email}}</p>
			</div>
		</div>
		<div class="w-full sm:w-1/2 sm:pl-5 mt-5 mmd:t-0">
			<p>
				<strong>Member Since</strong>: {{ user.createdAt | date }}</p>
		</div>
	</div>
	<!-- User End -->
	<!-- User Meta Start -->
	<div class="border bg-white mt-8 rounded-md">
		<div class="flex p-4 bg-gray-200">
			<h6 class="text-normal">Primary Information</h6>
			<a class="text-blue-400 hover:text-accent ml-auto flex items-center" [routerLink]="'edit/'+user._id">
				<mat-icon class="_edit_icon mr-2">edit</mat-icon>
				Edit</a>
		</div>
		<div class="flex flex-wrap p-4">
			<div class="w-full sm:w-1/2">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Roles:
					</div>
					<div class="ll-dataset__value" *ngFor="let item of user.roles">
						<span>{{ item | titlecase }}</span>
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Telephone:
					</div>
					<div class="ll-dataset__value">
						{{ user.phoneNumber }}
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 mt-4 sm:mt-0">
				
			</div>
		</div>
	</div>
	<!-- User Meta End -->
	<!-- User Meta Start -->
	<div class="border bg-white mt-8 rounded-md">
		<div class="flex p-4 bg-gray-200">
			<h6 class="text-normal">Shipping addresses</h6>
		
		</div>
		<div *ngIf="user.addresses != null">
			<div class="flex flex-wrap p-4"  *ngFor="let item of user.addresses" >
				<div class="w-full sm:w-1/2">
					<div class="ll-dataset">
						<div class="ll-dataset__label">
							First Name:
						</div>
						<div class="ll-dataset__value">
							{{ item.firstName }}
						</div>
					</div>
					<div class="ll-dataset mt-4">
						<div class="ll-dataset__label">
							Last Name:
						</div>
						<div class="ll-dataset__value">
							{{ item.lastName }}
						</div>
					</div>
					<div class="ll-dataset mt-4">
						<div class="ll-dataset__label">
							Address:
						</div>
						<div class="ll-dataset__value">
							{{ item.address }}
						</div>
					</div>
					<div class="ll-dataset mt-4">
						<div class="ll-dataset__label">
							ZIP Code:
						</div>
						<div class="ll-dataset__value">
							{{ item.zipCode }}
						</div>
					</div>
				</div>
				<div class="w-full sm:w-1/2 mt-4 sm:mt-0">
					<div class="ll-dataset">
						<div class="ll-dataset__label">
							Contact Number:
						</div>
						<div class="ll-dataset__value">
							{{ item.phone }}
						</div>
					</div>
					<div class="ll-dataset mt-4">
						<div class="ll-dataset__label">
							City:
						</div>
						<div class="ll-dataset__value">
							{{ item.city }}
						</div>
					</div>
					<div class="ll-dataset mt-4">
						<div class="ll-dataset__label">
							State:
						</div>
						<div class="ll-dataset__value">
							{{ item.state }}
						</div>
					</div>
					
				</div>
			</div>
		</div>
		
	</div>
	<!-- User Meta End -->
</div>
